/* POPPINS FONT */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ==== COLOR VARIABLES */
:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body{
    background-image: url(../img/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ==== Wrapper ==== */
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.login-box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 75px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(
        90deg,
        #009b3a 0%,
        #009b3a 33.33%,
        #ffdf00 33.34%,
        #ffdf00 66.66%,
        #002776 66.67%,
        #002776 100%
    );
}

.login-header span{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #009b3a;
}

.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #002776;
}
.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--second-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 0 10px;
}

.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit{
    width: 100%;
    height: 52px;
    background: #009b3a;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .25s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.22);
}

.input-submit:hover{
    background: #002776;
    color: #ffdf00;
    border: 2px solid #ffdf00;
}


.register{
    text-align: center;
}

.register a{
    font-weight: 500;
}

@media only screen and (max-width: 564px) {
    .wrapper{
        padding: 20px;
    }
    .login-box{
        padding: 7.5em 2.5em 4em 1.5em;
    }
}

.gray{
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: #d8d2ff;
    font-weight: 500;
}